# Installing dependencies and importing packages

In [1]:
import pandas as pd
from pathlib import Path

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in d:\shweta\python\shweta395\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in d:\shweta\python\shweta395\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
DATASET_PATH = Path("data")
WEBSITE_ORDER_REPORT_PATH= DATASET_PATH / "Company X - Order Report.xlsx"
PINCODE_ZONES_PATH= DATASET_PATH / "Company X - Pincode Zones.xlsx"
SKU_MASTER_PATH= DATASET_PATH / "Company X - SKU Master.xlsx"
INVOICE_PATH= DATASET_PATH / "Courier Company - Invoice.xlsx"
RATES_PATH= DATASET_PATH / "Courier Company - Rates.xlsx"

In [4]:
pd.options.display.float_format = '{:.2f}'.format

In [5]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Loading Website Order

In [6]:
order_report_df=pd.read_excel(WEBSITE_ORDER_REPORT_PATH)

In [7]:
order_report_df.shape

(400, 3)

In [8]:
order_report_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ExternOrderNo  400 non-null    int64
 1   SKU            400 non-null    object
 2   Order Qty      400 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 9.5+ KB

In [9]:
order_report_df.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706       1.00
1     2001827036  8904223819093       1.00
2     2001827036  8904223819109       1.00
3     2001827036  8904223818430       1.00
4     2001827036  8904223819277       1.00

In [10]:
#Checking null values
order_report_df.isnull().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
dtype: int64

In [11]:
order_report_df[order_report_df.duplicated()]

     ExternOrderNo            SKU  Order Qty
110     2001811363  8904223815859       1.00
317     2001806885  8904223819499       2.00

In [12]:
#drop duplicates
order_report_df.drop_duplicates(inplace=True)

In [13]:
#check duplicates
order_report_df.duplicated().sum()

0

# Loading Pincode Zones

In [14]:
pincode_zones_df=pd.read_excel(PINCODE_ZONES_PATH)

In [15]:
pincode_zones_df.shape

(124, 3)

In [16]:
pincode_zones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Warehouse Pincode  124 non-null    int64
 1   Customer Pincode   124 non-null    int64
 2   Zone               124 non-null    object
dtypes: int64(2), object(1)
memory usage: 3.0+ KB

In [17]:
pincode_zones_df.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [18]:
#Checking null values
pincode_zones_df.isnull().sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [19]:
pincode_zones_df[pincode_zones_df.duplicated()]

     Warehouse Pincode  Customer Pincode Zone
16              121003            140301    b
50              121003            248001    b
72              121003            302002    b
75              121003            302017    b
77              121003            313001    b
78              121003            313001    b
82              121003            313001    b
90              121003            302017    b
101             121003            335001    b
106             121003            302031    b
113             121003            302017    b
116             121003            302018    b
117             121003            302017    b
118             121003            302012    b
122             121003            173212    e
123             121003            302020    b

In [20]:
#drop duplicates
pincode_zones_df.drop_duplicates(inplace=True)

In [21]:
#check duplicates
pincode_zones_df.duplicated().sum()

0

# Loading SKU Master

In [22]:
sku_master_df=pd.read_excel(SKU_MASTER_PATH)

In [23]:
sku_master_df.shape

(66, 2)

In [24]:
sku_master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SKU         66 non-null     object
 1   Weight (g)  66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

In [25]:
sku_master_df.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [26]:
#Checking null values
sku_master_df.isnull().sum()

SKU           0
Weight (g)    0
dtype: int64

In [27]:
sku_master_df[sku_master_df.duplicated()]

              SKU  Weight (g)
56  GIFTBOX202002         500

In [28]:
#drop duplicates
sku_master_df.drop_duplicates(inplace=True)

In [29]:
#check duplicates
sku_master_df.duplicated().sum()

0

# Loading Invoice

In [30]:
invoice_df=pd.read_excel(INVOICE_PATH)

In [31]:
invoice_df.shape

(124, 8)

In [32]:
invoice_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   AWB Code              124 non-null    int64
 1   Order ID              124 non-null    int64
 2   Charged Weight        124 non-null    float64
 3   Warehouse Pincode     124 non-null    int64
 4   Customer Pincode      124 non-null    int64
 5   Zone                  124 non-null    object
 6   Type of Shipment      124 non-null    object
 7   Billing Amount (Rs.)  124 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 7.9+ KB

In [33]:
invoice_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.00
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.20
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.60
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.30
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.40

In [34]:
#Checking null values
invoice_df.isnull().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [35]:
invoice_df[invoice_df.duplicated()]

Empty DataFrame
Columns: [AWB Code, Order ID, Charged Weight, Warehouse Pincode, Customer Pincode, Zone, Type of Shipment, Billing Amount (Rs.)]
Index: []

In [36]:
#drop duplicates
invoice_df.drop_duplicates(inplace=True)

In [37]:
#check duplicates
invoice_df.duplicated().sum()

0

# Loading Rates

In [38]:
rates_df=pd.read_excel(RATES_PATH)

In [39]:
rates_df.shape

(5, 6)

In [40]:
rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Zone                                   5 non-null      object
 1   Weight Slabs                           5 non-null      float64
 2   Forward Fixed Charge                   5 non-null      float64
 3   Forward Additional Weight Slab Charge  5 non-null      float64
 4   RTO Fixed Charge                       5 non-null      float64
 5   RTO Additional Weight Slab Charge      5 non-null      float64
dtypes: float64(5), object(1)
memory usage: 368.0+ bytes

In [41]:
rates_df.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.50,29.50,23.60,13.60,23.60
1,B,1.00,33.00,28.30,20.50,28.30
2,C,1.25,40.10,38.90,31.90,38.90
3,D,1.50,45.40,44.80,41.30,44.80
4,E,2.00,56.60,55.50,50.70,55.50

In [42]:
rates_df['Zone'] = rates_df['Zone'].apply(lambda x:x.lower())

In [43]:
rates_df.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,a,0.50,29.50,23.60,13.60,23.60
1,b,1.00,33.00,28.30,20.50,28.30
2,c,1.25,40.10,38.90,31.90,38.90
3,d,1.50,45.40,44.80,41.30,44.80
4,e,2.00,56.60,55.50,50.70,55.50

In [44]:
#Checking null values
rates_df.isnull().sum()

Zone                                     0
Weight Slabs                             0
Forward Fixed Charge                     0
Forward Additional Weight Slab Charge    0
RTO Fixed Charge                         0
RTO Additional Weight Slab Charge        0
dtype: int64

In [45]:
rates_df[rates_df.duplicated()]

Empty DataFrame
Columns: [Zone, Weight Slabs, Forward Fixed Charge, Forward Additional Weight Slab Charge, RTO Fixed Charge, RTO Additional Weight Slab Charge]
Index: []

In [46]:
#drop duplicates
rates_df.drop_duplicates(inplace=True)

In [47]:
#check duplicates
rates_df.duplicated().sum()

0

# Creating Output Data 1

## Merge dataframe of website order and SKU master which has SKU column common

In [48]:
merged_df=pd.merge(order_report_df,sku_master_df,how="left",on="SKU")

In [49]:
merged_df.head()

   ExternOrderNo            SKU  Order Qty  Weight (g)
0     2001827036  8904223818706       1.00         127
1     2001827036  8904223819093       1.00         150
2     2001827036  8904223819109       1.00         100
3     2001827036  8904223818430       1.00         165
4     2001827036  8904223819277       1.00         350

In [50]:
merged_df.isnull().sum()

ExternOrderNo    0
SKU              0
Order Qty        0
Weight (g)       0
dtype: int64

In [51]:
merged_df[merged_df.duplicated()]

Empty DataFrame
Columns: [ExternOrderNo, SKU, Order Qty, Weight (g)]
Index: []

## Creating Total Weight (kg) column

In [52]:
merged_df['Total weight as per X (KG)']=(merged_df['Order Qty']*merged_df['Weight (g)'])/1000

In [53]:
merged_df = merged_df.round({'Total weight as per X (KG)': 2})

In [54]:
merged_df.head()

,ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
0,2001827036,8904223818706,1.00,127,0.13
1,2001827036,8904223819093,1.00,150,0.15
2,2001827036,8904223819109,1.00,100,0.10
3,2001827036,8904223818430,1.00,165,0.16
4,2001827036,8904223819277,1.00,350,0.35

In [55]:
# verifiying for one sample order ID
merged_df[merged_df['ExternOrderNo']==2001811192]

,ExternOrderNo,SKU,Order Qty,Weight (g),Total weight as per X (KG)
121,2001811192,8904223816214,1.00,120,0.12
122,2001811192,8904223818874,1.00,100,0.10
123,2001811192,8904223818881,1.00,140,0.14
124,2001811192,8904223819291,2.00,112,0.22
125,2001811192,8904223819031,2.00,112,0.22
126,2001811192,8904223819024,2.00,112,0.22

In [56]:
## group by Extern Order No
temp=merged_df.groupby(['ExternOrderNo'])['Total weight as per X (KG)'].agg('sum').reset_index()
temp
merged_df=temp.reset_index()

In [57]:
merged_df.head()

   index  ExternOrderNo  Total weight as per X (KG)
0      0     2001806210                        0.22
1      1     2001806226                        0.48
2      2     2001806229                        0.50
3      3     2001806232                        1.30
4      4     2001806233                        0.25

In [58]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 3 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   index                       124 non-null    int64
 1   ExternOrderNo               124 non-null    int64
 2   Total weight as per X (KG)  124 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 3.0 KB

## Joining the merged dataframe with Invoice data frame

In [59]:
merged_df=pd.merge(merged_df,invoice_df,how="left",left_on="ExternOrderNo",right_on="Order ID")

In [60]:
merged_df.head()

,index,ExternOrderNo,Total weight as per X (KG),AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,0,2001806210,0.22,1091117221940,2001806210,2.92,121003,140604,b,Forward charges,174.50
1,1,2001806226,0.48,1091117222065,2001806226,0.68,121003,723146,d,Forward charges,90.20
2,2,2001806229,0.50,1091117222080,2001806229,0.71,121003,421204,d,Forward charges,90.20
3,3,2001806232,1.30,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.00
4,4,2001806233,0.25,1091117222135,2001806233,0.78,121003,263139,b,Forward charges,61.30

In [61]:
merged_df.isnull().sum()

index                         0
ExternOrderNo                 0
Total weight as per X (KG)    0
AWB Code                      0
Order ID                      0
Charged Weight                0
Warehouse Pincode             0
Customer Pincode              0
Zone                          0
Type of Shipment              0
Billing Amount (Rs.)          0
dtype: int64

In [62]:
merged_df[merged_df.duplicated()]

Empty DataFrame
Columns: [index, ExternOrderNo, Total weight as per X (KG), AWB Code, Order ID, Charged Weight, Warehouse Pincode, Customer Pincode, Zone, Type of Shipment, Billing Amount (Rs.)]
Index: []

In [63]:
merged_df.columns

Index(['index', 'ExternOrderNo', 'Total weight as per X (KG)', 'AWB Code',
       'Order ID', 'Charged Weight', 'Warehouse Pincode', 'Customer Pincode',
       'Zone', 'Type of Shipment', 'Billing Amount (Rs.)'],
      dtype='object')

In [64]:
merged_df.drop('Order ID', axis=1, inplace=True)

In [65]:
dict = { 'ExternOrderNo':'Order ID',
          'AWB Code': 'AWB Number',
        'Charged Weight': 'Total weight as per Courier Company (KG)',
        'Zone': 'Delivery Zone charged by Courier Company',
        'Billing Amount (Rs.)':"Charges Billed by Courier Company (Rs.)"
       }
 # call rename () method
merged_df.rename(columns=dict,inplace=True)

In [66]:
# cols_to_order = ['ExternOrderNo', 'AWB Code','Total weight as per X (KG)','Charged Weight','Zone','Billing Amount (Rs.)']
# new_columns = cols_to_order + (merged_df.columns.drop(cols_to_order).tolist())
# merged_df = merged_df[new_columns]

## merging with pincode dataframe to calculated zone as per company

In [67]:
merged_df = pd.merge(merged_df, pincode_zones_df,  how='left', left_on=['Warehouse Pincode','Customer Pincode'], right_on = ['Warehouse Pincode','Customer Pincode'])

In [68]:
merged_df.head()

,index,Order ID,Total weight as per X (KG),AWB Number,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Zone
0,0,2001806210,0.22,1091117221940,2.92,121003,140604,b,Forward charges,174.50,b
1,1,2001806226,0.48,1091117222065,0.68,121003,723146,d,Forward charges,90.20,d
2,2,2001806229,0.50,1091117222080,0.71,121003,421204,d,Forward charges,90.20,d
3,3,2001806232,1.30,1091117222124,1.30,121003,507101,d,Forward charges,135.00,d
4,4,2001806233,0.25,1091117222135,0.78,121003,263139,b,Forward charges,61.30,b

In [69]:
merged_df.rename(columns={'Zone': 'Delivery Zone as per X'}, inplace=True)

## Calculated weight slab

In [70]:
def calculate_weight_slab(row):
    if row['Delivery Zone as per X']=='a':
        val=0.5
    elif row['Delivery Zone as per X']=='b':
        val=1.0
    elif row['Delivery Zone as per X']=='c':
        val=1.25
    elif row['Delivery Zone as per X']=='d':
        val=1.5
    else:
        val=2
    return val

In [71]:
merged_df['Weight slab as per X (KG)']= merged_df.apply(calculate_weight_slab, axis=1)

In [72]:
merged_df.head()

,index,Order ID,Total weight as per X (KG),AWB Number,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Weight slab as per X (KG)
0,0,2001806210,0.22,1091117221940,2.92,121003,140604,b,Forward charges,174.50,b,1.00
1,1,2001806226,0.48,1091117222065,0.68,121003,723146,d,Forward charges,90.20,d,1.50
2,2,2001806229,0.50,1091117222080,0.71,121003,421204,d,Forward charges,90.20,d,1.50
3,3,2001806232,1.30,1091117222124,1.30,121003,507101,d,Forward charges,135.00,d,1.50
4,4,2001806233,0.25,1091117222135,0.78,121003,263139,b,Forward charges,61.30,b,1.00

In [73]:
def calculate_weight_slab_as_per_courier(row):
    if row['Delivery Zone charged by Courier Company']=='a':
        val=0.5
    elif row['Delivery Zone charged by Courier Company']=='b':
        val=1.0
    elif row['Delivery Zone charged by Courier Company']=='c':
        val=1.25
    elif row['Delivery Zone charged by Courier Company']=='d':
        val=1.5
    else:
        val=2
    return val

In [74]:
merged_df['Weight slab charged by Courier Company (KG)']= merged_df.apply(calculate_weight_slab_as_per_courier, axis=1)
merged_df.head()

,index,Order ID,Total weight as per X (KG),AWB Number,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Weight slab as per X (KG),Weight slab charged by Courier Company (KG)
0,0,2001806210,0.22,1091117221940,2.92,121003,140604,b,Forward charges,174.50,b,1.00,1.00
1,1,2001806226,0.48,1091117222065,0.68,121003,723146,d,Forward charges,90.20,d,1.50,1.50
2,2,2001806229,0.50,1091117222080,0.71,121003,421204,d,Forward charges,90.20,d,1.50,1.50
3,3,2001806232,1.30,1091117222124,1.30,121003,507101,d,Forward charges,135.00,d,1.50,1.50
4,4,2001806233,0.25,1091117222135,0.78,121003,263139,b,Forward charges,61.30,b,1.00,1.00

## Merging merged dataframe with rates dataframe

In [75]:
merged_df=pd.merge(merged_df,rates_df,how="left",left_on="Delivery Zone as per X",right_on="Zone")
merged_df.head()

,index,Order ID,Total weight as per X (KG),AWB Number,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Weight slab as per X (KG),Weight slab charged by Courier Company (KG),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,0,2001806210,0.22,1091117221940,2.92,121003,140604,b,Forward charges,174.50,b,1.00,1.00,b,1.00,33.00,28.30,20.50,28.30
1,1,2001806226,0.48,1091117222065,0.68,121003,723146,d,Forward charges,90.20,d,1.50,1.50,d,1.50,45.40,44.80,41.30,44.80
2,2,2001806229,0.50,1091117222080,0.71,121003,421204,d,Forward charges,90.20,d,1.50,1.50,d,1.50,45.40,44.80,41.30,44.80
3,3,2001806232,1.30,1091117222124,1.30,121003,507101,d,Forward charges,135.00,d,1.50,1.50,d,1.50,45.40,44.80,41.30,44.80
4,4,2001806233,0.25,1091117222135,0.78,121003,263139,b,Forward charges,61.30,b,1.00,1.00,b,1.00,33.00,28.30,20.50,28.30

## Calculated Expected charges

In [76]:
import math
def round_up(n, decimals=0):
    multiplier = 10**decimals
    return math.ceil(n * multiplier) / multiplier

In [77]:
merged_df['Type of Shipment'].unique()

array(['Forward charges', 'Forward and RTO charges'], dtype=object)

In [78]:
def calculate_expected_charges(row):
    total_charges=0
    fwd_fixed_charges=0
    fwd_additional_charges=0
    rto_fixed_charges=0
    rto_additional_charges=0
    #print(row['Type of Shipment'])
    if 'Forward' in row['Type of Shipment']:
        if row['Total weight as per X (KG)'] <= row['Weight slab as per X (KG)']:
            fwd_fixed_charges=row['Forward Fixed Charge']
        else:
            fwd_fixed_charges=row['Forward Fixed Charge']
            temp=round_up((row['Total weight as per X (KG)']-row['Weight slab as per X (KG)'])/(row['Weight slab as per X (KG)']))
            fwd_additional_charges=temp*row['Forward Additional Weight Slab Charge']
    
    if 'RTO' in row['Type of Shipment']:
        if row['Total weight as per X (KG)'] <= row['Weight slab as per X (KG)']:
            rto_fixed_charges=row['RTO Fixed Charge']
        else:
            rto_fixed_charges=row['RTO Fixed Charge']
            temp=round_up((row['Total weight as per X (KG)']-row['Weight slab as per X (KG)'])/(row['Weight slab as per X (KG)']))
            rto_additional_charges=temp*row['RTO Additional Weight Slab Charge']
    total_charges=fwd_fixed_charges+fwd_additional_charges+rto_fixed_charges+rto_additional_charges
    return total_charges

In [79]:
merged_df['Expected Charge as per X (Rs.)']= merged_df.apply(calculate_expected_charges, axis=1)
merged_df.head()

,index,Order ID,Total weight as per X (KG),AWB Number,Total weight as per Courier Company (KG),Warehouse Pincode,Customer Pincode,Delivery Zone charged by Courier Company,Type of Shipment,Charges Billed by Courier Company (Rs.),Delivery Zone as per X,Weight slab as per X (KG),Weight slab charged by Courier Company (KG),Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,Expected Charge as per X (Rs.)
0,0,2001806210,0.22,1091117221940,2.92,121003,140604,b,Forward charges,174.50,b,1.00,1.00,b,1.00,33.00,28.30,20.50,28.30,33.00
1,1,2001806226,0.48,1091117222065,0.68,121003,723146,d,Forward charges,90.20,d,1.50,1.50,d,1.50,45.40,44.80,41.30,44.80,45.40
2,2,2001806229,0.50,1091117222080,0.71,121003,421204,d,Forward charges,90.20,d,1.50,1.50,d,1.50,45.40,44.80,41.30,44.80,45.40
3,3,2001806232,1.30,1091117222124,1.30,121003,507101,d,Forward charges,135.00,d,1.50,1.50,d,1.50,45.40,44.80,41.30,44.80,45.40
4,4,2001806233,0.25,1091117222135,0.78,121003,263139,b,Forward charges,61.30,b,1.00,1.00,b,1.00,33.00,28.30,20.50,28.30,33.00

In [80]:
merged_df['Expected Charge as per X (Rs.)'].unique()

array([ 33. ,  45.4,  90.2,  61.3,  86.7, 107.3,  56.6,  53.5, 135. ,
        89.6, 110.1, 176.3])

In [81]:
cols_to_order = ['Order ID', 'AWB Number','Total weight as per X (KG)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Charges Billed by Courier Company (Rs.)']
new_columns = cols_to_order + (merged_df.columns.drop(cols_to_order).tolist())
merged_df = merged_df[new_columns]
merged_df.head()

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),index,Warehouse Pincode,Customer Pincode,Type of Shipment,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,2001806210,1091117221940,0.22,1.00,2.92,1.00,b,b,33.00,174.50,0,121003,140604,Forward charges,b,1.00,33.00,28.30,20.50,28.30
1,2001806226,1091117222065,0.48,1.50,0.68,1.50,d,d,45.40,90.20,1,121003,723146,Forward charges,d,1.50,45.40,44.80,41.30,44.80
2,2001806229,1091117222080,0.50,1.50,0.71,1.50,d,d,45.40,90.20,2,121003,421204,Forward charges,d,1.50,45.40,44.80,41.30,44.80
3,2001806232,1091117222124,1.30,1.50,1.30,1.50,d,d,45.40,135.00,3,121003,507101,Forward charges,d,1.50,45.40,44.80,41.30,44.80
4,2001806233,1091117222135,0.25,1.00,0.78,1.00,b,b,33.00,61.30,4,121003,263139,Forward charges,b,1.00,33.00,28.30,20.50,28.30

In [82]:
merged_df = merged_df.round({'Charges Billed by Courier Company (Rs.)': 2})

In [83]:
merged_df = merged_df.round({'Expected Charge as per X (Rs.)': 2})

In [84]:
merged_df['Difference Between Expected Charges and Billed Charges (Rs.)']=merged_df['Expected Charge as per X (Rs.)']-merged_df['Charges Billed by Courier Company (Rs.)']

In [85]:
merged_df.head()

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),index,Warehouse Pincode,Customer Pincode,Type of Shipment,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge,Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.22,1.00,2.92,1.00,b,b,33.00,174.50,0,121003,140604,Forward charges,b,1.00,33.00,28.30,20.50,28.30,-141.50
1,2001806226,1091117222065,0.48,1.50,0.68,1.50,d,d,45.40,90.20,1,121003,723146,Forward charges,d,1.50,45.40,44.80,41.30,44.80,-44.80
2,2001806229,1091117222080,0.50,1.50,0.71,1.50,d,d,45.40,90.20,2,121003,421204,Forward charges,d,1.50,45.40,44.80,41.30,44.80,-44.80
3,2001806232,1091117222124,1.30,1.50,1.30,1.50,d,d,45.40,135.00,3,121003,507101,Forward charges,d,1.50,45.40,44.80,41.30,44.80,-89.60
4,2001806233,1091117222135,0.25,1.00,0.78,1.00,b,b,33.00,61.30,4,121003,263139,Forward charges,b,1.00,33.00,28.30,20.50,28.30,-28.30

In [86]:
merged_df['Difference Between Expected Charges and Billed Charges (Rs.)'].unique()

array([-141.5,  -44.8,  -89.6,  -28.3,  -57.2, -134.4, -118.5,  -56.6,
          0. , -102. , -134.4, -191.6,  -89.6, -370.8,  -86.1,  -12.4,
         -4.7, -146.8,  -33.2,  -44.8, -172.2,   23.6,  -48.8, -179.8,
        -41. , -106.2, -135. ,  -73.7, -168.7,  -61.3])

In [87]:
merged_df['Difference Between Expected Charges and Billed Charges (Rs.)'].value_counts()  #(normalize=True)

Difference Between Expected Charges and Billed Charges (Rs.)
-57.20     33
-44.80     15
-12.40     11
-28.30     11
0.00        8
-86.10      5
-89.60      5
-33.20      3
-102.00     3
-191.60     3
23.60       2
-172.20     2
-146.80     2
-4.70       2
-141.50     2
-56.60      2
-134.40     2
-370.80     1
-89.60      1
-134.40     1
-44.80      1
-118.50     1
-48.80      1
-179.80     1
-41.00      1
-106.20     1
-135.00     1
-73.70      1
-168.70     1
-61.30      1
Name: count, dtype: int64

In [88]:
cols_to_order = ['Order ID', 'AWB Number','Total weight as per X (KG)','Weight slab as per X (KG)','Total weight as per Courier Company (KG)','Weight slab charged by Courier Company (KG)','Delivery Zone as per X','Delivery Zone charged by Courier Company','Expected Charge as per X (Rs.)','Charges Billed by Courier Company (Rs.)','Difference Between Expected Charges and Billed Charges (Rs.)']
new_columns = cols_to_order #+ (merged_df.columns.drop(cols_to_order).tolist())
merged_df = merged_df[new_columns]
merged_df.head()

,Order ID,AWB Number,Total weight as per X (KG),Weight slab as per X (KG),Total weight as per Courier Company (KG),Weight slab charged by Courier Company (KG),Delivery Zone as per X,Delivery Zone charged by Courier Company,Expected Charge as per X (Rs.),Charges Billed by Courier Company (Rs.),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001806210,1091117221940,0.22,1.00,2.92,1.00,b,b,33.00,174.50,-141.50
1,2001806226,1091117222065,0.48,1.50,0.68,1.50,d,d,45.40,90.20,-44.80
2,2001806229,1091117222080,0.50,1.50,0.71,1.50,d,d,45.40,90.20,-44.80
3,2001806232,1091117222124,1.30,1.50,1.30,1.50,d,d,45.40,135.00,-89.60
4,2001806233,1091117222135,0.25,1.00,0.78,1.00,b,b,33.00,61.30,-28.30

# Generating Output 2

In [89]:
count1=merged_df[merged_df['Difference Between Expected Charges and Billed Charges (Rs.)']==0]['Difference Between Expected Charges and Billed Charges (Rs.)']
total_count1=len(count1)
amount1=count1.sum()
count2=merged_df[merged_df['Difference Between Expected Charges and Billed Charges (Rs.)']<0]['Difference Between Expected Charges and Billed Charges (Rs.)']
total_count2=len(count2)
amount2=abs(merged_df['Difference Between Expected Charges and Billed Charges (Rs.)'].sum())
count3=merged_df[merged_df['Difference Between Expected Charges and Billed Charges (Rs.)']>0]['Difference Between Expected Charges and Billed Charges (Rs.)']
total_count3=len(count3)
amount3=count3.sum()

In [90]:
dict={'':['Total orders where X has been correctly charged','Total orders where X has been overcharged','Total orders where X has been undercharged'],
        'Count':[total_count1,total_count2,total_count3],
        'Amount(Rs.)':[amount1,amount2,amount3]}

In [91]:
output_2=pd.DataFrame(dict,index=[0,1,2])
output_2

                                                    Count  Amount(Rs.)
0  Total orders where X has been correctly charged      8         0.00
1        Total orders where X has been overcharged    114      7704.00
2       Total orders where X has been undercharged      2        47.20

# Writing Output into Excel file

In [92]:
with pd.ExcelWriter('Output.xlsx') as writer:
    merged_df.to_excel(writer, sheet_name='Ouput',index=False)
    output_2.to_excel(writer, sheet_name='Summary')